
h1{
    color: rgb(99, 99, 99);
    font-weight: 350;
}


.imagem-menu{
    width: 200px;
    height: 180px;
    border-radius: 5px;

}

.container-menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    gap: 2px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
}

.nome-menu{
    color: rgb(189, 32, 134);
    font-weight: 500;
    font-size: 1.2rem;
}

.valor-menu{
    line-height: 20px;
}

.btn-enviarpedido{
    margin-left: 25%;
    border-radius: 15px;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgb(247, 204, 235);;
}


.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
  }
  
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #ddd;
  }
  
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox-container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  