<app-header></app-header>
<main>
    <h1 class="text-center fs-2 mt-4">Menu</h1>

    <div class="container-menu">
        <div *ngFor="let item of itemsCards" class="menu">
            <img src="{{item.imageUrl}}" class="imagem-menu">
            <span class="nome-menu">{{item.name}}</span>
            <span>{{item.descricao}}</span>
            <span class="valor-menu">{{item.valor}}</span>
        </div>
    </div>

    <div class="forms d-flex flex-column align-items-center mt-5">
        <h1 class="text-center fs-2 pb-4">Faça seu pedido</h1>


    <div class="container-formulario w-75 d-flex justify-content-center p-">
        <form [formGroup] = "formulario" class="formulario w-50 d-flex flex-column">
            <p>Insira seu nome completo:</p>
            <input type="name" formControlName="name" class="form-control mb-2  p-2" placeholder="Nome">
            <p>Insira seu número de telefone:</p>
            <input type="text"  formControlName="telefone" class="form-control mb-2  p-2" placeholder="Telefone">
            <p>Insira seu endereço:</p>
            <input type="text" formControlName="endereco" class="form-control mb-2  p-2" placeholder="Endereco">
            <p>Descrição do pedido:</p>
            <textarea formControlName="descricao" class="w-100" rows="5"></textarea>

            
            <label for="periodo" class="pt-4 pb-2">Selecione um período para receber seu pedido:</label>
            <select formControlName="selecionar" id="periodo" class="seletor w-25">
                <option value="selecionar">Selecionar</option>
                <option value="manha">Manhã</option>
                <option value="tarde">Tarde</option>
                <option value="noite">Noite</option>
            </select>

            <!-- switch(pedido){
                @case('manha') {<p>Seu pedido chegará até você de manhã.</p>}
                @case('tarde'){<p>Seu pedido chegará até você à tarde.</p>}
                @case('noite'){<p>Seu pedido chegará até você à noite</p>}
            } -->
            


            <p class="pt-4">Receber notificações de promoções via e-mail:</p>
            <label class="checkbox-container">
                Aceito receber notificações
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

            <input type="submit" value="Enviar" class="btn-enviarpedido w- mt-3 p-2">
        </form>
    </div>
    </div>



</main>
<app-footer></app-footer>