* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}



.navbar-container{
    background-color: #f0bbdb4F;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.imagem{
    padding: 0 50px;
}

.logo {
    width: 130px;
    border: 2px dotted pink;
    border-radius: 80px;
    
}

.navbar {
    padding-right: 100px;
}

.navbar a {
    padding: 12px;
    font-size: 1.3rem;
    color:  #8f8d8e;
    cursor: pointer;
    
}

.navbar a:hover{
    color: brown;
}