
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



main{
    background-color: #fbf7f7;
}

.titulo{
    width: 30%;
    font-size: 2rem;
    padding-top: 200px;
    
}

.title {
    border: 2px dotted brown;
    border-radius: 15px;
    padding: 10px;
    color: rgb(98, 98, 98);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 350;
}

.btn-mensagem{
    font-size: 1rem;
    border-radius: 30px;
    padding: 5px 15px;
    background: rgb(247, 204, 235);
    border-color: white;
    cursor: pointer;
    font-weight: 500;
}

.btn-mensagem:hover{
    background-color: pink;
}



.btn-mensagem a {
    color: rgb(64, 64, 64);
    text-decoration: none;
}

.main-container{
    display: flex;
    justify-content: center;
    text-align: center;
}



.cards-container{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-size: 1.4rem;
    color: rgb(98, 98, 98);
  
}

.sweets-list{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    gap: 40px;
    padding-left: 90px;
    padding-top: 50px;
}



.doces_image{
    width: 200px;
    height: 190px;
    border-radius: 30px;
}


.login-cadastro-container{
    margin-top: 130px;
    padding-bottom: 40px;
}




.container-foto{
    width: 50%;
    border: 1px solid rgb(224, 217, 217);
    height: 60%;
    margin-top: 60px;
    margin-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
  
}

.login-foto{
    width: 100%;
    padding: 30px;
    border-radius: 40px;

}


.titulo-opcoes{
    margin-left: 50px;
    width: 50%;
}

.botoes-principais{
    
}




.btn-formulario {
    background-color: rgb(247, 204, 235);
    border: none;
    border-radius: 30px;
    color: rgb(98, 98, 98);
    cursor: pointer;
}

.btn-formulario:hover{
    background-color: pink;
}


h3{
    color: rgb(98, 98, 98);
    font-weight: 500;
}

.formulario-um{
    padding-left: 80px;
}

.mensagem{
    text-align: center;
    padding-top: 5px;
}

.cadastrar{
    color: brown;
    cursor: pointer;
}

.formulario-dois{
    padding-left: 40px;
}

.mensagem-erro{
    color: red;
    margin-top: 0;
}